<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>ServletLifeCycle</display-name>
	<welcome-file-list>
		<welcome-file> home.html </welcome-file>
	</welcome-file-list>
	
	<servlet>
	
	<servlet-name> abc </servlet-name>
	<servlet-class> com.examples.FirstServlet </servlet-class>
	
	<init-param>
	
	<param-name>languages</param-name>
	<param-value>Hindi, English, Tamil, Telugu</param-value>
	
	</init-param>
	
	</servlet>
	
	<servlet-mapping>

		<servlet-name> abc </servlet-name>
		<url-pattern> /firstpage </url-pattern>
		
	 </servlet-mapping>
	 
	 <context-param>
	 	<param-name> country </param-name>
	 	<param-value> India </param-value>
	 </context-param>
	
</web-app>
